html {
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 800px;
  background-color: black;
  color: white;

  font-family: "Jost", "Hasklug Nerd Font Mono";
  padding: 75px 85px 75px 85px;
  margin-top: 50px;

  position: relative;
}

br {
  all: unset;
}

h1 {
  all: unset;
  font-size: 30px;

  border-width: 0px 0px 10px 0px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #743ad5, #d53a9d);
}
h1::before {
  float: left;
  position: absolute;
  width: 40px;
  content: '';
  text-align: right;
  left: 30;
}
h1::after {
  content: "\a";
  white-space: pre;
}

h2 {
  margin: 20 0 0 0;
  font-size: 25px;
}
h2::before {
  position: absolute;
  width: 40px;
  content: '';
  text-align: right;
  left: 30;
}
h2::after {
  content: "\a";
  white-space: pre;
}

h3 {
  margin: 10 0 0 0;
  width: 100%;
  font-size: 20px;
}
h3::before {
  position: absolute;
  width: 40px;
  content: '';
  text-align: right;
  left: 30;
}
h3::after {
  content: "\a";
  white-space: pre;
}

p {
  all: unset;
}

ul {
  margin: 0;
  padding-left: 30px;
}
